name: Update XMLTV TNT
on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:
jobs:
  update-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Download XMLTV TNT file
        run: curl -o xmltv_tnt.xml https://xmltvfr.fr/xmltv/xmltv_tnt.xml
      - name: Commit and push if updated
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"
            git add xmltv_tnt.xml
            git commit -m "Mise à jour automatique du XMLTV TNT"
            git push
          else
            echo "Aucun changement détecté"
